html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: border-box;
}

.button-container{
    position: fixed;
    left: 4%;
    bottom: 10px;
    width: 92%;
}

.button{
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 14px;
}

.red {
    background-color: #ff3b3b;
}

.blue {
    background-color: #4d4dff;
}

.green {
    background-color: #3ea33e;
}