html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: border-box;
}

.button-container{
    
}

.button {
    width: 100px;
    height: 100px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}