<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Storymode</title>
	<link href="/assets/css/reset.css" type="text/css" rel="stylesheet"/>
	<link href="/assets/css/style.css" type="text/css" rel="stylesheet"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <link href="https://fonts.googleapis.com/css?family=Almendra+Display|Cardo" rel="stylesheet">

        <!--
        <link rel="stylesheet" href="unsemantic-grid-responsive-tablet-no-ie7.css">
        -->

	<script src="/assets/jquery/dist/jquery.min.js"></script>
	<script src="/assets/socket.io-client/socket.io.js"></script>

        <script>
            $(function(){
		var socket = io();
                var chapter = 1;
                var sleep = 0;
                var sleepStatus = 0;
                var strengthStatus = 0;
                var attackStatus = 0;
                var sneakStatus = 0;
                var optionchosen = 1;
                var fightflight = 1;
                var fight = 1;
                
                var windowheight = ($(window).height())/2;
                var bodyheight = $(".body").height()/2;
		var oldheight = bodyheight;
                var bodytop = windowheight - bodyheight;
                $(".body").css({marginTop: bodytop});

		socket.on('event:hello', function(){
		  console.log('Welcome from server');
		});


		socket.on('event:buttonA', function(){
		  console.log('button A pressed');
		  chapter++;

		  console.log(chapter)

		  if(chapter < 8){
                    if(chapter == 2 && optionchosen == 1){
                       $(".chapter.two").addClass("chaptershow").siblings().removeClass("chaptershow")
                    }
		    else if(chapter == 3 && optionchosen == 1){
                      $(".chapter.three").addClass("chaptershow").siblings().removeClass("chaptershow");
		      optionchosen--;
		      chapter--;
                    }
		    else if(chapter == 3 && optionchosen == 0){
                      $(".three .A").addClass("selected");
                      $(".three .question").hide();
                      $(".three .option-container").hide();
                      $(".three .consequence.A").show();
                               
                      sleepStatus = 10;
                      sleep = 9;
                      $(".sleep").text(sleep);
		      optionchosen++;
		    }
                    else if(chapter == 4 && optionchosen == 1){
                      $(".chapter.four").addClass("chaptershow").siblings().removeClass("chaptershow")
                    }
                    else if(chapter == 5 && optionchosen == 1){
                      $(".chapter.five").addClass("chaptershow").siblings().removeClass("chaptershow")
                    }
		    else if(chapter == 6 && optionchosen == 1){
                      $(".chapter.six").addClass("chaptershow").siblings().removeClass("chaptershow")
                      chap6fightflight();
                      optionchosen--;
                      chapter--;
		    }
		    else if(chapter == 6 && optionchosen == 0){
                      $(".six .question").hide();
                      $(".six .option-container").hide();
                      chap6fight();
                      optionchosen++;
                      console.log("option: " + optionchosen)
                    }
		    else if(chapter == 7 && optionchosen == 1){
                      $(".chapter.seven").addClass("chaptershow").siblings().removeClass("chaptershow")
                            
                      optionchosen--;
                      chapter--;
                    }
		    else if(chapter == 7 && optionchosen == 0){
                      $(".seven .question").hide();
                      $(".seven .option-container").hide();
                      $(".seven .consequence-container").show();
                      $(".seven .consequence.A").show().siblings().hide();
                      chapter++;
                    }
		  }
		  else{
			setTimeout(reset,3000)
		  }
		  var newheight = $(".body").height()/2;
		  if(newheight != oldheight){
		    windowheight = ($(window).height())/2;
                    bodyheight = $(".body").height()/2;
		    oldheight = bodyheight;
                    bodytop = windowheight - bodyheight;
                    $(".body").css({marginTop: bodytop});
		  }

		});//end of button A



		socket.on('event:buttonB', function(){
		  console.log('button B pressed');
		  chapter++;
		  console.log(chapter);
 
		  
		  if(chapter < 8){
                    if(chapter == 2 && optionchosen == 1){
                       $(".chapter.two").addClass("chaptershow").siblings().removeClass("chaptershow")
                    }
		    else if(chapter == 3 && optionchosen == 1){
                      $(".chapter.three").addClass("chaptershow").siblings().removeClass("chaptershow");
		      optionchosen--;
		      chapter--;
                    }
		    else if(chapter == 3 && optionchosen == 0){
                      $(".three .B").addClass("selected");
                      $(".three .question").hide();
                      $(".three .option-container").hide();
                      $(".three .consequence.B").show();
                               
                      sleepStatus = 5;
                      sleep = 6;
                      $(".sleep").text(sleep);
		      optionchosen++;
		    }
                    else if(chapter == 4 && optionchosen == 1){
                      $(".chapter.four").addClass("chaptershow").siblings().removeClass("chaptershow")
                    }
                    else if(chapter == 5 && optionchosen == 1){
                      $(".chapter.five").addClass("chaptershow").siblings().removeClass("chaptershow")
                    }
		    else if(chapter == 6 && optionchosen == 1){
                      $(".chapter.six").addClass("chaptershow").siblings().removeClass("chaptershow")
                      chap6fightflight();
                      optionchosen--;
                      chapter--;
		    }
		    else if(chapter == 6 && optionchosen == 0){
                      $(".six .question").hide();
                      $(".six .option-container").hide();
                      chap6flight();
                      optionchosen++;
                      console.log("option: " + optionchosen)
                    }
		    else if(chapter == 7 && optionchosen == 1){
                      $(".chapter.seven").addClass("chaptershow").siblings().removeClass("chaptershow")
                            
                      optionchosen--;
                      chapter--;
                    }
		    else if(chapter == 7 && optionchosen == 0){
                      $(".seven .question").hide();
                      $(".seven .option-container").hide();
                      $(".seven .consequence-container").show();
                      $(".seven .consequence.B").show().siblings().hide();
                      chapter++;
                    }
                    else if(chapter > 7){
                        console.log("greater than 7");
                        setTimeout(reset,5000)
                    }
		  }
		  else{
			setTimeout(reset,3000)
		  }
		  var newheight = $(".body").height()/2;
		  if(newheight != oldheight){
		    windowheight = ($(window).height())/2;
                    bodyheight = $(".body").height()/2;
		    oldheight = bodyheight;
                    bodytop = windowheight - bodyheight;
                    $(".body").css({marginTop: bodytop});
		  }

		});//end of buttonB



		socket.on('event:buttonC', function(){
		  console.log('button C pressed');
		  chapter++;
		  console.log(chapter);
 
		  
		  if(chapter < 8){
                    if(chapter == 2 && optionchosen == 1){
                      $(".chapter.two").addClass("chaptershow").siblings().removeClass("chaptershow")
                    }
		    else if(chapter == 3 && optionchosen == 1){
                      $(".chapter.three").addClass("chaptershow").siblings().removeClass("chaptershow");
		      optionchosen--;
		      chapter--;
                    }
		    else if(chapter == 3 && optionchosen == 0){
                      $(".three .C").addClass("selected");
                      $(".three .question").hide();
                      $(".three .option-container").hide();
                      $(".three .consequence.C").show();
                               
                      sleepStatus = 0;
                      sleep = 0;
                      $(".sleep").text(sleep);
		      optionchosen++;
		    }
                    else if(chapter == 4 && optionchosen == 1){
                      $(".chapter.four").addClass("chaptershow").siblings().removeClass("chaptershow")
                    }
                    else if(chapter == 5 && optionchosen == 1){
                      $(".chapter.five").addClass("chaptershow").siblings().removeClass("chaptershow")
                    }
		    else if(chapter == 6 && optionchosen == 1){
                      $(".chapter.six").addClass("chaptershow").siblings().removeClass("chaptershow")
                      optionchosen--;
                      chapter--;
                    }
		    else if(chapter == 6 && optionchosen == 0){
                      wrongbutton();
                    }
		    else if(chapter == 7 && optionchosen == 1){
                      $(".chapter.seven").addClass("chaptershow").siblings().removeClass("chaptershow")
                      optionchosen--;
                      chapter--;
                    }
		    else if(chapter == 7 && optionchosen == 0){
                      wrongbutton();
                    }
                    else if(chapter > 7){
                        console.log("greater than 7");
                        setTimeout(reset,5000)
                    }
		  }
		  else{

console.log("chapter: " + chapter + ", option " + option);
			setTimeout(reset,3000)
		  }
		  var newheight = $(".body").height()/2;
		  if(newheight != oldheight){
		    windowheight = ($(window).height())/2;
                    bodyheight = $(".body").height()/2;
		    oldheight = bodyheight;
                    bodytop = windowheight - bodyheight;
                    $(".body").css({marginTop: bodytop});
		  }

		});//end of button C
                
                function chap6fightflight() {
                    if(sleepStatus >= 8){
                        attackStatus = 10;
                        sneakStatus =  7.5;
                        console.log("high sleep");
                    } else if(sleepStatus <= 7 && sleepStatus > 3){
                        attackStatus = attackStatus + 7;
                        sneakStatus = sneakStatus + 5;
                        console.log("med sleep");
                    } else if(sleepStatus <= 3){
                        attackStatus = attackStatus + 3;
                        sneakStatus = sneakStatus + 2.5;
                        console.log("low sleep");
                    } else {
                        console.log(Error);
                    }
                    console.log("sleep: " + sleepStatus);
                    console.log("attack: " + attackStatus);
                    console.log("sneak: " + sneakStatus);
                }//end of flight or fight
                
                function chap6fight(){
                    var animalStatus = Math.floor((Math.random() * 10) + 1 );
                    console.log("The animal was a " + animalStatus + " you were at " + attackStatus);
                    var animaloutcome = animalStatus - attackStatus;
                    if (animaloutcome < 1){
                        console.log("you win!")
                        $(".six .consequence.A.win").show();
                    } else {
                        console.log(animaloutcome)
                        $(".six .consequence.A.lose").show();
                        setTimeout(reset,3000)
                    }
                }//end of fight
                
                function chap6flight(){
                    var animalStatus = Math.floor((Math.random() * 10) + 1);
                    console.log("The animal is " + animalStatus + " youre at " + sneakStatus);
                    var animalnofight = animalStatus - sneakStatus;
                    if(animalnofight < 1){
                        console.log("you got away!")
                        $(".six .consequence.B.win").show();
                    } else {
                        console.log(animalnofight);
                        console.log("death!")
                        $(".six .consequence.B.lose").show();
                        setTimeout(reset,3000)
                    }
                }

		function wrongbutton(){
		  console.log("There is no option for this button, please try again");
		  chapter--;
		  optionchosen = 1
		  console.log(chapter);
		}
                
                function reset(){
                    location.reload();
                }
                
                //chap3sleep();
                //chap6fightflight();
                //chap6fight();
                //chap6flight();
                
                
            });//end of all
        </script>
    </head>

    <body>
        <div class="body">
            <div class="chapter one narrator chaptershow">
                <h1>You start on your journey</h1>
            </div><!--end of chapter-->

            <div class="chapter two narrator">
                <h1>You've walked far now and it starts raining</h1>
            </div><!--end of chapter-->

            <div class="chapter three">
                <div class="question">
                    <h1>Where will you take shelter?</h1>
                </div>
                <div class="option-container">
                    <ul class="option-list">
                        <li class="option A">The barn a little ways down the road</li>
                        <li class="option B">In the forest using your tent</li>
                        <li class="option C">Keep walking like a sad movie ending</li>
                    </ul>
                </div>
                <div class="consequence-container">
                    <div class="consequence A">
                        <h1>You enter the barn and see a comfortable bed of hay. You dream of a great feast.</h1>
                    </div>
                    <div class="consequence B">
                        <h1>In the forest you find a soft grass clearing and set up your tent.</h1>
                    </div>
                    <div class="consequence C">
                        <h1>Your rain coat keeps the rain off you but you are very tired.</h1>
                    </div>
                </div>
            </div><!--end of chapter-->

            <div class="chapter four narrator">
                <h1>You're out on the road after getting <span class="sleep"></span> hours of sleep.</h1>
            </div><!--end of chapter-->

            <div class="chapter five narrator">
                <h1>You hear rustling in the forest next to you. A wolf jumps out at you!</h1>
            </div><!--end of chapter-->

            <div class="chapter six">
                <div class="question">
                    <h1>What will you do?!</h1>
                </div>
                <div class="option-container">
                    <ul class="option-list">
                        <li class="option A">Attack the beast!</li>
                        <li class="option B">Back away carefully</li>
                    </ul>
                </div>
                <div class="consequence-container">
                    <div class="consequence A win">
                        <h1>You defeated the wolf! Hurrah! You feel confident and your walk gains a swagger!</h1>
                    </div>
                    <div class="consequence A lose">
                        <h1>You were not strong enough the beast bested you! Curses! RIP</h1>
                    </div>
                    <div class="consequence B win">
                        <h1>You were able to back away with out angering it. Whew! That was close! You continue your journey.</h1>
                    </div>
                    <div class="consequence B lose">
                        <h1>You were able to back away but tripped over ourself and the wolf attacked. You did not survive.</h1>
                    </div>
                </div>
            </div><!--end of chapter-->

            <div class="chapter seven">
                <div class="question">
                    <h1>After your encounter with the wolf you find a fork in the road which will you take?</h1>
                </div>
                <div class="option-container">
                    <ul class="option-list">
                        <li class="option A">Take the road travelled. Oh look there's even an old crone selling fuits down the road!</li>
                        <li class="option B">Take the road less travelled. There are brambles and and fallen tress over the road.</li>
                    </ul>
                </div>
                <div class="consequence-container">
                    <div class="consequence A">
                        <h1>It was a trap! You did not survive.</h1>
                    </div>
                    <div class="consequence B">
                        <h1>You met a nice old couple that let you stay in their house. Sweet!</h1>
                    </div>
                </div>
            </div><!--end of chapter-->

        </div>
    </body>
</html>